<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @contact_log_failure.data %>
</p>

<p>
  <strong>Error:</strong>
  <%= @contact_log_failure.error %>
</p>

<p>
  <strong>User:</strong>
  <%= @contact_log_failure.user_id %>
</p>

<p>
  <strong>Log file:</strong>
  <%= @contact_log_failure.log_file_id %>
</p>

<%= link_to 'Edit', edit_contact_log_failure_path(@contact_log_failure) %> |
<%= link_to 'Back', contact_log_failures_path %>
