<h1 class="h3 mb-3 fw-normal text-center">Log in</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-floating">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "name@example.com" %>
    <%= f.label :email, for: 'user_email' %>
  </div>

  <div class="form-floating">
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: "password" %>
    <%= f.label :password, for: 'user_password' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <label>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </label>
    </div>
  <% end %>

  <%= f.submit "Log in", class: 'w-100 btn btn-lg btn-primary' %>
<% end %>
