<p id="notice"><%= notice %></p>

<h1>File Logs</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>User</th>
      <th>Errors</th>
      <th>File name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_logs.each do |file_log| %>
      <tr>
        <td><%= file_log.status %></td>
        <td><%= file_log.user_id %></td>
        <td><%= file_log.errors %></td>
        <td><%= file_log.file_name %></td>
        <td><%= link_to 'Show', file_log %></td>
        <td><%= link_to 'Edit', edit_file_log_path(file_log) %></td>
        <td><%= link_to 'Destroy', file_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File Log', new_file_log_path %>
