<!DOCTYPE html>
<html>

<head>
  <title>Octo Events - Signin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <main class="form-signin bg-white">
    <!-- <img class="mb-4" src="/docs/{{< param docs_version >}}/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->

      <% if !notice.nil? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <p class=""><%= notice %></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if !alert.nil? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <p class=""><%= alert %></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <%= yield %>
      <div class="mt-2">
        <%= render "devise/shared/links" %>
      </div>
      <p class="mt-1 mb-3 text-muted text-center">&copy; Designed by Enrique Franco <br> Bogota 2022</p>

  </main>
</body>

</html>
